{% extends 'base/base.html' %}

{% block content %}

<div class="form-small">
  <div class="header-bar">
    <h2>Reset password</h2>
  </div>
  <div class="card-body">
    <form id="id_password_reset_form" method="POST" class="form-signin">{% csrf_token %}
      <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
        <input name="email" class="form-control" placeholder="Email address" type="email" id="id_email" required="true" >
      <button id="id_submit_btn" class="btn btn-primary" >Send reset email</button>  
    </form>
    <p><a href="/">&#8592; Go to login</a></p>
  </div>
</div>

{% endblock %}