body{
    min-height: 100vh;
    display: flex;
    flex-flow: column;
}
a {
    text-decoration: none;
}
.content {
    background-color: hsl(216,10%,30%);
    flex: 1
}
.stats {
    margin: 10px auto;
    padding: 5px;
    background-color: #00dee8;
    border-radius: 10px;
    font-size: 18px;
}
.stats a {
    color: white; 
}
.stats-difficulty {
    font-weight: 700;
    background-color: #D3DCDE;
}
.stats-difficulty-wrapper {
    display: inline-block;
    vertical-align: middle;
}
.table-filter {
    margin: 10px auto;
}
.table-filter select, .table-filter input {
    height: 30px;
}
.calendar-description {
    color: white;
    margin: 10px auto;
}
#generate-form label {
    color: #00adb5;
    font-size: 18px;
    font-weight: 700;
}
#generate-form input {
    margin: 2px;
}
#calendar {
    margin: 10px auto;
}
footer{
    padding: 20px;
    min-height: 60px;
    text-align: center;
    background-color: #192435;
    color: white;
}
