.errorlist {
    display: none;
}
.form-small {
    max-width: 400px;
    margin: 80px auto;
    background: linear-gradient(to bottom right, hsl(216,35%,65%), hsl(216,35%,15%));
    border-radius: 5px 5px 0 0;
}
.form-small a, .form-big a {
    color: #33FFF0;
}
.form-small a:hover, .form-big a:hover {
    color: #00adb5;
}
.header-bar {
    background: linear-gradient(to bottom right, hsl(183,97%,80%), hsl(183,97%,30%));
    color: white;
    padding: 10px;
    border-radius: 5px 5px 0 0;
}
.card-body {
    padding: 20px;
}
input, textarea, select {
    margin-top: 2px;
    margin-bottom: 10px;
}
.card-body button {
    margin-bottom: 10px;
}
.card-body p, .card-body label{
    color: white;
}
.card-body .detail-item {
    margin: 10px auto;
    color: white;
}
.card-body .detail-item-name {
    font-size: 1.1rem;
    font-weight: 600;
    color: hsl(0,0%,80%);
}
.form-big {
    max-width: 800px;
}
.form-big textarea {
    height: 80px;
}
