<header>
    {% if request.user.is_authenticated %}
    <nav class="nav-head">
        <a class="navbar-brand" href="{% url 'problems' %}">Welcome {{request.user}}</a>
        
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Account
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="{% url 'password_change' %}">Change Password</a></li>
                  <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>        
    {% else %}
    <nav class="nav-head">
        <div>
            <a href="/"><h1>Elite Coder</h1></a>
            <div class="tagline">Track your Leetcode progress and solidify your problem-solving foundation through spaced repetition.</div>
        </div>
        <button><a href="{% url 'register' %}">Create Account</a></button>
    </nav>
    {% endif %}	
</header>