{% extends 'base/base.html' %}
{% block content %}

<div class="header-bar">
    <a href="{% url 'problems' %}">&#8592; Go Back</a>
</div>


<div class="card-body">
    <h1>{{problem}}</h1>
    <a href={{problem.link}} target="_blank">Go to Problem</a>
    <div>Difficulty: {{problem.difficulty}}</div>
    <div>Self Difficulty Rating: {{problem.rating}}</div>
    <div>Category Tags: {{problem.categories}}</div>
    <div>Company Tags: {{problem.companies}}</div>
    <div>Notes: {{problem.notes}}</div>
    <div>Last Solved Date: {{problem.last_solved}}</div>
    <div>Next Solve Date: {{problem.next_solve}}</div>
    <a href="{% url 'problem-update' problem.id %}">Edit</a>
    <a href="{% url 'problem-delete' problem.id %}">Delete</a>
</div>

{% endblock content %}